@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 222 47% 6%;
        --foreground: 210 40% 98%;

        --border: 222 30% 18%;
    }

    * {
        @apply border-border
    }


    body {
        @apply bg-background text-foreground;
        font-family: 'Inter', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'JetBrains Mono', monospace;;
    }
}